
body {
    background-color:black;
    font-family: arial;
    color: white;
    height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}
h1 {
    color:grey;
    font-family: verdana;
}
.maindiv {
     background-color: white;
     color: black;
     width: 500px;
     height: 400px;
     border-radius: 25px;
     padding-left:20px ;
}
form {
    margin: 5px 55px;
}
footer {
    padding-top: 20px;
}
.amount {
    margin-left: 50px;
}
.interest {
    margin-left: 40px;
}
.select {
    margin-left: 15px;
}
button {
    padding: 3px 5px;
    margin-top: 7px;
    margin-left: 110px;
}